.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    width: 100%;
    text-align: center;
}

h3{
    width: 100%;
    text-align: center;
}

label{
    justify-content: center;
}

#glovalDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#secondary {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.d1,
.d2,
.d3 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 200px;
    justify-content: center;
    margin: 0px 10px 0px 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.line{
    background-color: brown;
    width: 225px;
    height: 5px;
}

.n1 {
    background-color: red;
    width: 80px;
    height: 20px;
}
.n2 {
    background-color: orange;
    width: 100px;
    height: 20px;
}
.n3 {
    background-color: yellow;
    width: 120px;
    height: 20px;
}
.n4 {
    background-color: green;
    width: 140px;
    height: 20px;
}
.n5 {
    background-color: blue;
    width: 160px;
    height: 20px;
}

.empty{
    width: 160px;
    height: 20px;
}